@import "tailwindcss";

.quoteContainer {
  @apply w-full min-h-[120px] rounded-xl overflow-hidden my-6 flex;
  background-image: url('../../../../../assets/home/bg-quote.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contentWrapper {
  @apply flex-1 flex items-center justify-center p-4 sm:p-8;
}

.quoteContent {
  @apply text-center relative z-10 p-2 sm:p-6;
}

.quoteText {
  @apply text-xs sm:text-lg md:text-3xl font-medium text-white mb-3 leading-relaxed italic;
}

.quoteAuthor {
  @apply text-sm sm:text-lg md:text-2xl text-white font-medium;
}

.panaIcon {
  @apply w-32 h-32 sm:w-40 sm:h-40 md:w-86 md:h-86 -mt-4 sm:-mt-6 md:-mt-14;
}
