@import "tailwindcss";

.container {
  @apply flex flex-col gap-2;
}

/* Title */
.title {
  @apply text-2xl md:text-3xl font-semibold text-black;
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
  line-height: 1.2;
}

/* Subtitle */
.subtitle {
  @apply text-xs text-gray-600 m-0 flex items-center gap-2 md:text-sm;
  color: #5263F3;
}

.infoIcon {
  @apply w-4 h-4 flex-shrink-0;
}
