@import "tailwindcss";

.container {
  @apply mt-4 mx-4;
}

.headerSection {
  @apply flex flex-col md:flex-row gap-6;
}

.greetingSection {
  @apply flex-1 min-w-0;
}

.addSection {
  @apply flex-1 min-w-0 flex items-center justify-end;
}

.upperSection {
  @apply flex md:flex-col gap-4;
}

.calendarMobile {
  @apply block lg:hidden mb-6;
}

.listandCalendar {
  display: flex;
  gap: 1rem;
}

.listandCalendar > :first-child {
  flex: 2 2 0;
  min-width: 0;
}

.listandCalendar > :last-child {
  flex: 1 1 0;
  min-width: 0;
}

.calendarDesktop {
  @apply hidden lg:block;
}

.taskCountContainer {
  @apply mb-6;
}